<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-audiofrequency" version="0.0.1">
    <name>AudioFrequency Plugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/hugodaniel75/cordova-plugin-audiofrequency</repo>
    <issue>https://github.com/hugodaniel75/cordova-plugin-audiofrequency/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/audiofrequency.js" name="audioFrequencyPlugin">
        <clobbers target="audioFrequencyPlugin" />
    </js-module>

    <!-- ios -->
    <!--<platform name="ios">

        <config-file parent="/*" target="config.xml">
            <feature name="AudioFrequency">
                <param name="ios-package" value="CDVAudioFrequency" />
            </feature>
        </config-file>

        <source-file src="src/ios/CDVAudioFrequency.m" />
        <source-file src="src/ios/ToneReceiver.h" />
        <source-file src="src/ios/ToneReceiver.m" />

        <framework src="Accelerate.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />

    </platform>-->

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AudioFrequency">
                <param name="android-package" value="com.cellules.cordova.audiofrequency.AudioFrequency" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>

        <source-file src="src/android/AudioFrequency.java" target-dir="src/com/cellules/cordova/audiofrequency" />
        <source-file src="src/android/ToneReceiver.java" target-dir="src/com/cellules/cordova/audiofrequency" />

        <source-file src="src/android/JTransforms-3.0.jar" target-dir="libs"/>
        <source-file src="src/android/JLargeArrays-1.2.jar" target-dir="libs"/>
    </platform>
</plugin>